/* You can add global styles to this file, and also import other style files */


/// default style
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 8px 0;
// }

// p {
//   margin: 0;
// }

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #7a8ae6;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

a,
a:visited,
a:hover {
  // color: #7a8ae6 !important;
  text-decoration: none !important;
}

// a:hover {
//   color: #7a8ae6 !important;
// }

footer {
  margin-top: 8px;
  display: flex !important;
  align-items: center;
  line-height: 20px;
  justify-content: center;
  padding: 20px 0px;
  margin: 20px 0px 4px 0px;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

// /* Responsive Styles */
@media screen and (max-width: 767px) {
  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
/// -------------------------------------


.title{
  color: white !important;
}

.content{
  align-items: unset !important;
}

.card {
  border-radius: 1rem !important;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
  max-width: -webkit-fill-available;
  margin: 0 auto;
  padding: 1rem;
  list-style: none;
}

.blog-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.blog-content {
  font-size: 1rem;
  color: #333;
}

/* Responsive styles */
@media only screen and (max-width: 945px) {
  /* .blog-list {
    grid-template-columns: 1fr;
  } */
}

@media only screen and (max-width: 768px) {
  .blog-list {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .blog-item {
    max-width: 100%;
  }
}

.card-item{
  text-decoration: none;
  color: black;

  img{
    border-radius: 1rem 1rem 0 0;
  }
}
.card-item:hover {
  text-decoration: none;
  color: black;

  .card-body {
    background: #dedfde;
    border-radius: 0 0 1rem 1rem;
  }
}


.blog-img{
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px #32325d40, 0 8px 16px -8px #0000004d, 0 -6px 16px -6px #00000008;
}

.loader{
  min-height: calc(100vh - 16rem) !important;
}
